body {
  font-family: 'Merriweather', serif;
  color: white;
  background: radial-gradient(ellipse at center, #000000 44%, #222222 100%);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

html, body {
  height: 100%;
}

#controls {
  /*border: 5px solid black;*/
  padding: 10px;
  text-align: center;
  /*background-color: black;*/
  color: white;
}

#playlist li {
  width: fit-content;
  margin-top: 5px;
}

#play, #pause, #next, #previous, #shuffle {
  font-size: 50px;
  margin-right: 15px;
}

#playlist-container {
  position: relative;
  float: right;
  /*background-color: black;*/
  color: white;
  padding: 0px 20px 20px 20px;
  width: 50%;
}

#addAudio {
  position: relative;
  clear: left;
}

#addAudio {
  padding-left: 20px;
}

/* VISUALIZER CSS */
